//variables
$serif: sans-serif;
$txtHover: rgb(176, 176, 179);
$navBtn: rgb(130, 181, 126);
$bg: rgb(22, 24, 29);
$containerL: rgb(26, 27, 33);
$containerR: rgb(34, 36, 44);
$overlay: rgba(17, 18, 22, 0.9);
$colorCode: rgb(119, 104, 215);
$colorCode: rgb(138, 193, 133);
$colorCode: rgb(254, 212, 126);
//mixins
@mixin hover {
  &:hover {
    background-color: $txtHover !important;
    color: navy !important;
  }
}

// normalize
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $serif;
  text-decoration: none;
  border-radius: 3px;
  border: none;
  outline: none;
}
.mainView {
  background-color: $bg;
}
.container {
  background-color: $containerL;
  // @include gradientBg;
}

.container2 {
  background-color: $containerR;
  &__detailsView {
    background-color: $overlay;
    &-container {
      background-color: $txtHover;
    }
  }
}

button {
  @include hover;
}
