@import "./variables";
//mixins
@mixin hover {
  &:hover {
    background-color: $txtHover !important;
    color: navy !important;
    cursor: pointer !important;
  }
}

// normalize
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $serif;
  text-decoration: none;
  border-radius: 3px;
  border: none;
  outline: none;
}
.mainView {
  background-color: $bg;
}
.container {
  background-color: $containerL;
  // @include gradientBg;
  &__calendar {
    &-day {
      &__titleBlue {
        width: 100%;
        background-color: blue;
      }
      &__titleGreen {
        background-color: rgb(20, 204, 51);
      }
      &__titleRed {
        background-color: red;
      }
    }
  }
}

.container2 {
  background-color: $containerR;
  &__detailsView {
    display: none;
    background-color: $typeGreenish;
    &-container {
      background-color: $typePurplish;
      &__calendar {
        background-color: $bg;
      }
      &__x:hover {
        color: red;
      }
    }
  }
}

button {
  @include hover;
}

.error {
  color: red;
}
