.container {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  * {
    color: white;
  }
  &__nav {
    height: 50px;
    &-monthDisplay {
      font-size: 2rem;
      font-weight: 700;
    }
    &-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 200px;
      * {
        width: 60px;
        height: 30px;
        padding: 5px;
        background-color: transparent;
        border: 1px solid white;
      }
    }
  }
  &__header {
    height: 35px;
    border-radius: 0;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    label {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
    }
  }
  &__calendar {
    min-height: 600px;
    border: 1px solid #fff;
    &-day {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}

.container2 {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  &__createView {
    * {
      padding: 2px 0;
      width: 100%;
    }
    &-form {
      label {
        font-size: 1.2rem;
        color: white;
      }

      input[type="text"] {
        height: 30px;
        &.error {
          height: 100px;
          width: 100px;
          background: #fff;
        }
      }
      input[type="time"],
      input[type="date"],
      select {
        text-align: center;
        padding-left: 40px;
        height: 20px;
      }
      button {
        height: 25px;
        width: 50%;
        border: 1px solid white;
        margin: 0.8rem auto 0 auto;
        background-color: transparent;
        letter-spacing: 0.2rem;
        color: white;
      }
    }
  }
  &__detailsView {
    color: black;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    &-container {
      border: 1px solid white;
      border-radius: 25px;
      font-weight: 500;
      font-size: 1.5rem;
      padding: 2rem 1rem;
      &__x {
        font-size: 2.5rem;
        padding-bottom: 1rem;
      }
      &__title {
        margin-bottom: 1rem;
      }
      &__type {
        height: 40px;
        width: 100%;
        font-weight: bold;
      }
      &__desc {
        height: 90px;
        width: 100%;
        text-align: center;
      }
      &__date {
        font-weight: bold;
      }
      &__timeWrapper {
        font-weight: bold;
        margin-bottom: 2rem;
      }
    }
  }
}

// &-timeStart:after {
//   content: "";
//   display: block;
//   width: 100px;
//   height: 4px;
//   background: #ff1201;
//   left: 90px;
//   top: 50%;
//   position: absolute;
//   color: white;
// }
