$serif: sans-serif;
$txtHover: rgb(250, 217, 152);
$navBtn: rgb(130, 181, 126);
$bg: rgb(22, 24, 29);
$containerL: rgb(26, 27, 33);
$containerR: rgb(34, 36, 44);
$overlay: rgba(17, 18, 22, 0.9);
$typePurplish: rgb(119, 104, 215);
$typeGreenish: rgb(138, 193, 133);
$typeYellowish: rgb(254, 212, 126);
